
.dark {
    background-color: #5A5F5A;
    color: whitegrey;
}

.light {
    background-color: whitesmoke;
    color: darkslategrey;
}

.hp-wrapper {
    background-image: url("../pictures/brainmaze.jpeg");
    background-position: bottom;
    background-size: 40%;
    background-repeat: no-repeat;
    height: 50vh;
    text-align: center;
}



