
.dark {
    background-color: #091A22;
    color: #B5A8A1;
    padding-bottom: 100px;
}

.light {
    background-color: #B5A8A1;
    color: #091A22;
    padding-bottom: 100px;
}

.hp-wrapper {
    background-image: url("../pictures/brain.jpeg");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    height: 80vh;
    text-align: center;
}

.quotes{
    width: 60%;
    margin:auto;
}



